repos:
  - repo: local
    hooks:
      - id: stylua
        name: StyLua
        language: system
        entry: stylua
        types: [lua]
  - repo: local
    hooks:
      - id: luacheck
        name: Luacheck
        language: system
        entry: luacheck
        args: [
          --std,
          luajit,
          --globals,
          vim,
          --max-line-length,
          '150',
          --no-config,
        ]
        types: [lua]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos
  - repo: https://github.com/nozaq/pre-commit-deno
    rev: 0.1.0
    hooks:
      - id: deno-fmt
